**/**/__pycache__
env/
experiments/crosses/data
experiments/BBBC041/data
experiments/BBBC041/explanations/
experiments/BBBC041/notebooks/f1_irt.ipynb
experiments/BBBC041/notebooks/optimize_threshold.ipynb
experiments/BBBC041/notebooks/figures_supp.ipynb
experiments/CelebA
experiments/CelebAMask-HQ/data
experiments/CelebAMask-HQ/model
experiments/CelebAMask-HQ/wandb
experiments/CelebAMask-HQ/repaint
experiments/CelebAMask-HQ/checkpoints
figures
old